
{% extends 'base.html.twig' %}

{% block title %}Sobre mí{% endblock %}

{% block body %}
    

    <div class="center">
        <h1>Sobre mí</h1>
        <p>Esta es la sección de sobre mí.</p>
    <div>

{% endblock %}
