
{% extends 'base.html.twig' %}

{% block title %}Habilidades{% endblock %}

{% block body %}
    <div class="center">
        <h1>Habilidades</h1>
        <p>Esta es la sección de habilidades.</p>
    <div>
{% endblock %}
