<!-- templates/base.html.twig -->
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <!-- Incluir el navbar -->
    {% include 'navbar.html.twig' %}

    <!-- Contenido principal -->
    {% block body %}
    <!-- Aquí va el contenido de las páginas -->
    {% endblock %}
</body>
</html>
