
{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block body %}
    <div class="center">
        <h1>Proyectos</h1>
        <p>Esta es la sección de proyectos.</p>
    </div>
{% endblock %}
